.footer{
    width: 100%;
    height: max-content;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    span{
        display: flex;
        color: white;
        gap: 5px;
        align-items: center;
    }
}